*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif ;
    font-size: 1.4rem;
}

.content {
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    
    ;
    gap: 8.5rem
}



main {
    grid-area:form;
}

aside {
    grid-area: hero;
}

aside h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}
aside h1 span {
    color: orange;
}

main {
    width: 60rem;
    height: 52remx;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    padding: 4.4rem 5.7rem;
    border-radius: 1.2rem;
    position: relative;
}
 
main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main h2 span {
    color: orange;
}

main .actions a{
    display: flex;
    flex-flow: column wrap;
}

main .actions a{
    border-radius: 1.2rem;
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: orange;
    color: black;


    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5.4rem;
}
main .actions a + a{
    background-color: rgb(255, 251, 34);
    margin-top: 4.8rem;
}

main header {
    display: flex;
    gap: 1.8rem;
    align-items: center;

}

main header i {
    font-size: 1.8rem;
    color:orange ;

}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem;
}
main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: black;
}

main form {
    margin-top: 1.6rem;

}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 1rem;
    display: block;
}

main form :is(input, select) {
    width: 489px;
    height: 5.5rem;
    display: block;

    background: floralwhite;
    border: 1px solid black;
    border-radius: 1.2rem;
}

main form select {
    appearance: none;
} 

main form select::after {
    content: "aaaaaaaaaaaaaaaa";
    position: absolute;
    z-index: 1;
}

main form .points{
    position: relative;
}

main form input + button{
    position: absolute;
    right: -3.8rem;
    top: calc(2.7rem + 2.3rem);
    background-color: transparent;
    border: none;
    color: orange;
    font-size: 2.4rem;
    cursor: pointer;
}

.voltar {
    text-decoration: none;
    
}
